{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Default value
        {% endblock %}
    </title>
    <link rel="stylesheet" href={% static "style.css" %}>
    {% tailwind_css %}
</head>
<body>
    <nav class="text-red-300 bg-cyan-700">This is our nav bar</nav>
    {% block content %}{% endblock  %}
    <footer>this is out footer</footer>
    <h1 class='bg-slate-500'>hello</h1>
</body>
</html>